<div class="footer">
  <div class="footer-links">
    <a href="#"><%= icon("fab", "github") %></a>
    <a href="#"><%= icon("fab", "instagram") %></a>
    <a href="#"><%= icon("fab", "facebook") %></a>
    <a href="#"><%= icon("fab", "twitter") %></a>
    <a href="#"><%= icon("fab", "linkedin") %></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <%= icon("fas", "heart") %> at Le Wagon
  </div>
</div>
