<%= simple_form_for(pub || Pub.new) do |f| %>
  <div class="modal-body">
      <div class="form-inputs">
        <%= f.input :name %>
        <%= f.input :address %>
        <%= f.input :district, collection: Pub::DISTRICTS %>
        <%= f.input :description %>
        <%= f.input :photo %>
      </div>
  </div>
  <div class="modal-footer">
    <button id="closeButton" type="button" class="btn btn-base btn-clear">Cancel</button>
    <%= f.button :submit, class: "btn btn-base btn-brand" %>
  </div>
<% end %>
